body{
	align-items: center;
}
.container{
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
header{
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid gray;
	margin-bottom: 50px;
}
.search{
	position: relative;
	align-items: center;
	text-align: center;
	padding: 26px 0;
	display: flex;
}
header .icon{
	position: absolute;
	width: 20px;
	height: 48px;
	margin-left: 10px;
}
header .search input{
	padding: 0 20px 0 38px;
	height: 48px;
	box-shadow: 0 9px 10px -4px rgb(201 214 239 / 46%);
	background: #fff;
	border-radius: 10px 0 0 10px;
    width: 100%;
    font-size: 16px;
    color: #202842;
    border: 1px solid gray;
    border-right: none;
}
input:focus{
    border-color:#CCC;
    outline:0;
    -webkit-box-shadow:none;
    box-shadow:none;
}
header .search-button{
	height: 48px;
	padding: 10px;
	border-radius: 0 4px 4px 0;
	box-shadow: 0 9px 10px -4px rgb(201 214 239 / 46%);
	background-color: gray;
	border: 1px solid gray;
	border-left: none;
	cursor: pointer;
	font-family: Arial, serif !important;
    font-weight: 600;
    color: white;
}
#nav{
	display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 257px;
}
#nav-login, #nav-basket{
	height: 48px;
	margin:26px 0;
	align-items: center;
	cursor: pointer;
	display: flex;
}
#nav-login .icon-user, #nav-basket .icon-basket{
	float: left;
	width: 22px;
	height: 22px;
	background-size: cover;
}
#nav-basket .icon-basket{
	width: 19px;
	height: 19px;
}
#nav-login .icon-user{
	transition: background-image 0.3s;
	background-image: url(../svg/icon-user.svg);
}
#nav-login:hover .icon-user{
	background-image: url(../svg/icon-user-hover.svg);
}
#nav-basket .icon-basket{
	transition: background-image 0.3s;
	background-image: url(../svg/icon-basket.svg);
}
#nav-basket:hover .icon-basket{
	background-image: url(../svg/icon-basket-hover.svg);
}
#nav-login p, #nav-basket p{
	float: left;
	margin: 0px;
	font-size: 12px;
	padding-left:5px;
}
#nav-login:hover p, #nav-basket:hover p{
	color: #fc7f0a;
}
.basket-item-count:empty{
	display: none;
}
.basket-item-count{
	/*display: none;*/
	background-color: #f27a1a;
    color: #fff;
    font-family: oxygen, serif;
    font-size: 11px;
    width: 16px;
    text-align: center;
    margin-left: 3px;
    margin-top: 2px;
    border-radius: 50%;
}
/*--------------CONTENT--------------*/
.content{
	margin-bottom: 120px;
}
.product-item{
	margin-bottom: 12px;
}
.product-item-block:hover{
	background-color: #ffffff;
    box-shadow: 0 2px 10px 1px rgb(0 0 0 / 5%);
}
.product-item-block{
	cursor: pointer;
	align-items: center;
	text-align: center;
	border-radius: 3px;
	transition: box-shadow 0.2s linear;
    border: 1px #f5f4f4 solid;
}
.card-img-top{
	padding: 10px;
	width: 176px;
	height: 271px;
}
.prdct-name{
	font-size: 14px;
    color: #666;
    margin: 2px 0;
    font-family: 'Source Sans Pro', sans-serif;
}
.prdct-price{
	font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    color: #f27a1a;
}
.add-to-basket{
	color: #f27a1a;
	font-size: 14px;
    transition: all 0.3s ease-in-out;
    transform: translate3d(0, 5px, 0);
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
    border: 1px solid #f27a1a;
}
.add-to-basket:hover{
	color: white;
	background-color: #f27a1a;
}
/*--------------BASKET--------------*/
.basket-item{
	display: flex;
	align-items: center;
	border-bottom: 1px solid rgba(0,0,0,.125);
}
.basket-item:last-child{
	border-bottom: none;
}
.basket-item-list-img img{
	max-width: 50px;
	height: 50px;
	margin-right: 5px;
}
p{
	margin:0px;
}
.basket-item-list-name{
	display: flex;
    flex-direction: column;
    width: 350px;
    margin-right: 15px;
}
.basket-item-list-name p{
	color: #333;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.basket-item-list-action{
	display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}
.basket-counter{
	display: flex;
	width: 90px;
}
input[type="number"]::-webkit-inner-spin-button {
    appearance: none;
}
input[type="number"] {
    appearance: textfield;
}
.button-counter{
	font-weight: 700;
	border: 1px solid #e6e6e6;
    background-color: #fafafa;
    width: 24px;
    height: 34px;
    display: flex;
    justify-content: center;
}
.input-counter{
	width: 42px;
    height: 34px;
    font-size: 14px;
    color: #4a4a4a;
    border: none;
    border-top: solid 1px #e6e6e6;
    border-bottom: solid 1px #e6e6e6;
    text-align: center;
}
.basket-item-list-price{
	display: flex;
    flex-direction: column;
    font-size: 14px;
    color: #f27a1a;
    text-align: center;
}
.basket-item-list-action a{
	display: flex;
}
.basket-item-list-action a .icon-delete{
	width: 22px;
	height: 22px;
	background-size: cover;
	background-image: url(../svg/icon-delete.svg);
}
.basket-item-list-action a:hover .icon-delete{
	background-image: url(../svg/icon-delete-hover.svg);
}
/*--------------BASKET SUM--------------*/
.basket-sum{
	padding: 20px;
	border: 1px solid #e6e6e6;
	border-radius: 3px;
	font-family: 'Source Sans Pro', sans-serif;
	position: sticky;
	top: 30px;
}
.basket-sum h2{
	font-size: 22px;
    color: #333;
    font-weight: 400;
    
}
.basket-sum-detail{
	color: #333;
    margin-top: 10px;
    font-size: 13px;
}
.basket-sum-price{
	font-family: 'Oxygen', sans-serif;
	float: right;
}
.basket-total-price{
	font-weight: 600;
	text-align: right;
	color: #f77d1a;
	font-family: 'Oxygen', sans-serif;
}
/*--------------FOOTER--------------*/
.footer{
	padding: 10px;
	margin-top:auto; 
  	background-color: #2d2d2d;
  	color: white;
  	font-size: 12px;
  	display: flex;
  	justify-content: space-between;
}
a{
	text-decoration: none;
	color: white;
}
a:hover{
	color: #f77d1a;
}

